@charset "utf-8";
/* CSS Document */
html,body,ul{
	margin:0;
	padding:0;
}
body{
	background:#FFF;
	font-family:"微软雅黑";
	width:100%;
	height:100%;
}
ul li{
	list-style:none;
	list-style-position:inside;
	text-align:center;
}
ul li a{
	text-decoration:none;
}
.toolbar{
	width:100%;
	border-top:5px solid #cc0000;
	height:90px;
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
}
.toolbar .logo{
	width:30%;
	height:100%;
	text-align:center;
	box-sizing:border-box;
	padding-top:10px;
}
.toolbar .logo p:first-child{
	color:#414141;
	font-size:30px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:-5px;
}
.toolbar .logo p:last-child	{
	color:#a3a3a3;
	font-size:20px;
	text-transform:capitalize;
}
.toolbar .tool{
	width:70%;
	height:90px;
	
	
}
.toolbar .tool li{
	float:left;
	height:90px;
	width:10%;
	margin-left:20px;
	
}
.toolbar .tool li a{
	color:#000000;
	font-size:18px;
	display:inline-block;
	width:100%;
	height:90px;
	text-align:center;
	padding-top:25px;
	padding-bottom:23px;
}
.toolbar .tool li a:hover{
	background:#cc0000;
		color:#FFF;
		text-decoration:none;
}
.content{
	width:100%;
	height:70%;
}
header{
	width:100%;
	height:346px;
	text-align:center;
	position:relative;
}
#box{
	width:1349px;
	height:346px;
	position:relative;
	margin:auto;
	overflow:hidden;
	}
 #box img{
	 display:block;
	 width:1349px;
	 height:346px;}
 #box ul{
	 position:absolute;
	 top:0;
	 left:0;
	 display:flex;
	 display:-webkit-flex;
	 flex-direction:row;}
 
header #item{
	position:absolute;
	left:46%;
	
	bottom:5%;
	z-index:1;
}
header #item ul li{
	width:10px;
	height:10px;
	border-radius:100%;
	margin-left:15px;
	float:left;
	background:#c1bab7;
}
header #item ul .active{
	background:#cc0000;
}
article{clear:both;}
.sec1{
	margin-left:200px;
	margin-right:50px;
	text-align:center;
	color:#888888;
	font-weight:bold;
}

.sec1 p{
	font-size:14px;
	
}
.sec1 h2{
	font-weight:bold;
}
.sec1 .row{
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	margin-top:40px;
	margin-bottom:20px;
}
.sec1 .row>div{
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
}
.sec1 .row .cirl{
	width:100px;
	height:100px;
	padding-top:20px;
	border-radius:100%;
	margin-left:50px;
	margin-right:20px;
}
.red-cirl{
	border:3px solid #c62619;
}
.black-cirl{
	border:3px solid #272727;
}
.sec1-word{
	width:360px;
	height:100px;
	text-align:left;
}
.red-word{
	color:#ce4338;
}
.sec2{
	width:100%;
	background:linear-gradient(top,#f0f2f4,#ffffff);
	background:-ms-linear-gradient(top,#f0f2f4,#ffffff);
	background:-moz-linear-gradient(top,#f0f2f4,#ffffff);
	background:-webkit-linear-gradient(top,#f0f2f4,#ffffff);
	text-align:center;
	padding-top:30px;	
}
.breadcrumb{
	background:none;
	
}
.breadcrumb li a{
	color:#aaabac;
}
.part1{
	width:100%;
	height:320px;
	text-align:center;
	margin-bottom:100px;
}
.part1 ul li{
	float:left;
	margin-left:10px;
}
.part1 .img-list{
	display:block;
	width:100%;
	height:220px;
	padding-left:150px;
}
.part1 .img-list li p{
	margin-top:5px;
}
.dirc-list li i{
	color:#FFF;
}
.dirc-list{
	display:block;
	width:100%;
	height:30px;
	padding-left:600px;
}
.dirc-list li{
	width:20px;
	height:20px;
	background:#252527;
}
.part2{
	display:flex;
	flex-direction:row;
	text-align:left;
}
.part2 article h2 {
	color:#000000;
}
.part2 article h2 span{
	font-size:14px;
	color:#838484;
}
.part2 section{
	font-size:14px;
	color:#8b8b8c;
	margin-top:20px;
}
.part2 .content1{
	width:600px;
	height:300px;
	margin-left:150px;
	margin-right:80px;
}
.part2 .content2{
	width:540px;
	height:200px;
	padding-left:60px;
	border-left:1px solid #ababab;
	margin-top:70px;
}
.part2 .content2 p{
	color:#000;
	font-size:14px;
	margin-bottom:20px;
}
.part2 .content2 .big{
	font-size:26px;
}
.big span{
	color:#db0000;
}
footer{
	font-size:13px;
}
.f1{
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	width:100%;
	height:300px;
	background:#222222;
	color:#8f8f8f;
	padding-top:50px;
}
.f1 div{
	width:200px;
	text-align:left;
	margin-left:50px;
}
.f1 div ul{
	width:200px;
	padding-left:0;
	
}
.f1 div ul li{
	text-align:left;
	font-size:16px;
	margin-top:5px;
}
.f1 div ul li a{
	color:#8f8f8f;
}
.low{
	padding-top:20px;
}
.low p:first-child{
	font-size:24px;
	margin-bottom:-6px;
}
.connect h4{
	color:#c40909;
}
.connect ul li{
	height:30px;
}
.connect ul li i{
	color:#d80101;
}
.f2{background:#101010;
width:100%;
height:50px;
text-align:center;
padding-top:15px;
color:#555555;
}